<table class="profile" summary="Source information">
  <tr>
    <td class="main">
      <h1>
        <%= @source.name %>
      </h1>
    </td>
    <td class="sidebar round">
    </td>
  </tr>
</table>