<table class="profile" summary="Album information">
  <tr>
    <td class="main">
      <h1>
        <%= @album.name %>
      </h1>
    </td>
    <td class="sidebar round">
			<%= link_to 'Edit Album', edit_album_path(@album) %>
    </td>
  </tr>
</table>