<footer>
  <nav class="round">
    <ul>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>

What needs to go here:
1. Back to Top
2. Albums
3. Artists
4. Sources
5. Close all open sections
6. 