<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Albums", albums_path %></li>
			<li><%= link_to "Artists", artists_path %></li>
			<li><%= link_to "Sources", sources_path %></li>	
		</ul>
	</nav>
</footer>
